### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Ignore assembly files
*.dll
*.pdb

# Ignore cache
obj/
bin/
*.cache
*.tmp

# Ignore ASP cache files
*.suo
*.user
*.userprefs
*.vs/

# Windows shortcuts
*.lnk
WeatherClothingApp/obj/Debug/net8.0/apphost.exe
WeatherClothingApp/obj/Debug/net8.0/WeatherClothingApp.AssemblyInfo.cs
WeatherClothingApp/obj/Debug/net8.0/WeatherClothingApp.AssemblyInfoInputs.cache
WeatherClothingApp/obj/Debug/net8.0/WeatherClothingApp.assets.cache
WeatherClothingApp/obj/Debug/net8.0/WeatherClothingApp.GeneratedMSBuildEditorConfig.editorconfig
